<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ru">
<head>
    <title>Система подачи заявок</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #eeebe2">
    <!--HEADER-->
    <header th:insert="blocks/header :: header"></header>
    <!--MEDIUM-->
    <div class="row py-lg-5" style="margin-bottom:320px">
        <div class="col-lg-6 col-md-8 mx-auto">
            <p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec magna lectus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae tellus a sem euismod porta nec in nunc. Sed et sapien leo. Quisque lacinia et ligula eu blandit. Curabitur rutrum, nunc in laoreet luctus, velit erat accumsan augue, sed ullamcorper risus tortor a odio.

                Donec rutrum velit tempor libero lobortis molestie. Morbi efficitur, arcu sit amet ultricies aliquam, tortor ex aliquam nisl, sed tempus nisl tortor vel velit. Sed molestie magna nisl, ut mattis dolor porttitor a. Ut arcu ipsum, tempus sed posuere vel, finibus eu ex. Phasellus at pulvinar lectus. Suspendisse potenti. Maecenas porta lobortis ex, aliquet lacinia diam blandit quis. Donec efficitur, dui semper sodales laoreet, quam odio laoreet ipsum, sed pharetra est erat id magna. Pellentesque id ipsum sit amet purus feugiat laoreet. In dictum at eros et tincidunt. Vivamus vehicula mi et augue pellentesque, sed lobortis sem eleifend. Morbi elit dui, consequat a eros sed, lobortis euismod magna. Curabitur ut tristique ligula.</p>
        </div>
    </div>
    <footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>