<!--FOOTER-->
<div th:fragment="footer">
    <div class="footer">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="/lps/index" class="nav-link px-2 text-muted">Отслеживание</a></li>
                <li class="nav-item"><a href="/lps/create" class="nav-link px-2 text-muted">Создание</a></li>
                <li class="nav-item"><a href="/lps/manager/loanSearch" class="nav-link px-2 text-muted">Поиск заявок</a></li>
                <li class="nav-item"><a href="/lps/manager" class="nav-link px-2 text-muted">Поиск клиентов</a></li>
                <li class="nav-item"><a href="/lps/about" class="nav-link px-2 text-muted">О нас</a></li>
            </ul>
            <p class="text-center text-muted">© 2022 Votelimes, Inc</p>
        </footer>
    </div>
</div>