<!--HEADER-->
<div th:fragment="header">
    <div class="container">
        <br>
        <h3>LoanProcessingSystem</h3>
        <header class="d-flex p-2 justify-content-center py-4">
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="/lps/index" class="nav-link" aria-current="page">Отслеживание</a></li>
                <li class="nav-item"><a href="/lps/create" class="nav-link">Создание</a></li>
                <li class="nav-item"><a href="/lps/manager/loanSearch" class="nav-link" aria-current="page">Поиск заявок</a></li>
                <li class="nav-item"><a href="/lps/manager" class="nav-link">Поиск клиентов</a></li>
                <li class="nav-item"><a href="/lps/about" class="nav-link">О нас</a></li>
            </ul>
        </header>
    </div>
</div>